{
	"absBase64Code":"",
	"appId":"ALIPUB1FD2853230019",
	"appKey":"ALIPUB1FD2853230019_ANDROID",
	"base64Code":"",
	"packageName":"haomo",
	"rootPath":"mpaas/android/ALIPUB1FD2853230019-default",
	"v6Base64Code":"",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"S5e3z5WUERm/OkFfMEPy0gMcK0fpVrPY6dHC+XhnKqrUdhdMobjYsj2YwAGXFrgUkNk8MsNS8p2sKFhtsW/6NgroT7l//lw52Sdfi6Dq2YeDmS58do9+MoQGyqwMRBnWebn289NpzeadbrXvJy9hzA5iG2y6LEt8pG3WGGKxatJ1fsjt7c1kn6LjjE/yimo4nQAbXT2oH6LukXf1NX1YBKXwMQlUvurXs3pQjfiThdsqZne2+RgTEIVqyez/d/Jb1ZDRZTsKPBiCUGMvlECbuX/SgxJPvpS2agTI3F1sVyqDd1z5YqNEQy/a7VyBEPZM25kMBGF3FgL1zqyHWv0Gdg=="
}